.vs/APISimulacaoEmprestimos/config/applicationhost.config
/.vs/APISimulacaoEmprestimos/CopilotIndices/17.12.68.61481
/.vs/APISimulacaoEmprestimos/FileContentIndex
/.vs/APISimulacaoEmprestimos/v17
APISimulacaoEmprestimos.csproj.Backup.tmp
/bin/Debug/net8.0
/obj
